# Configuration Twilio
# Copiez ce fichier vers .env et remplissez avec vos vraies valeurs
# Commande: cp env.example .env

TWILIO_ACCOUNT_SID="ACc28da422506db2600a4e559543366c6d"
TWILIO_AUTH_TOKEN="b2eedb5b587e49151b8df9d7b3e6bdfa"
TWILIO_NUMBER=+17744267543

# Configuration Moshi
# Modèle HuggingFace à utiliser (options: kyutai/moshika-pytorch-bf16, kyutai/moshiko-pytorch-bf16)
# MOSHI_HF_REPO=kyutai/moshika-pytorch-bf16
MOSHI_HF_REPO=kyutai/moshika-pytorch-q8
